@page "/Question/Add"
@model MarketListener.Pages.Question.AddQuestionModel

@{
    <h1>Add New Question</h1>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <partial name="QuestionForm" model=@Model.AddQuestionCommand></partial>
        </div>
        <div class="col-md-6">
            <partial name="HelpWidget"></partial>
        </div>
    </div>
    
}
