@page "/Questions/ViewAll"
@model MarketListener.Pages.Questions.QuestionsModel
<h1 class="h2">All Questions <a asp-page="AddQuestion" class="btn-success btn float-end">Add New</a></h1>
<hr />
<div class="table-responsive">
    @*@await Component.InvokeAsync("ProductList")*@
</div>
