@page "/Questions/ViewAll"
@model MarketListener.Pages.Question.QuestionsModel
<h1 class="h2">All Questions <a asp-page="AddQuestion" class="btn-success btn float-end">Add New</a></h1>
<hr />
<div class="table-responsive">
    @await Component.InvokeAsync("QuestionList")
</div>
@section Scripts{
    <script>
        $(function () {
            $(document).ready(function () {
                $('#questions-datatable').DataTable({
                    "pagingType": "simple"
                });
                $('.dataTables_length').addClass('bs-select');
            });
        });
    </script>
    }