@page "/Questions/Add"
@*@model MarketListener.Pages.Questions.AddQuestionModel*@
@model MarketListener.ViewModels.Question.AddQuestionVM; 

@{
    <h1>Add New Question</h1>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div class="mb-3">
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title" class="form-control" />
                </div>

                <button class="btn btn-success" type="submit">Create</button>
            </form>
        </div>
    </div>
}
